$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.2);
$color-white-transparent-2: rgba(255, 255, 255, 0.5);
$color-white-transparent-1: rgba(255, 255, 255, 0.8);


$color-black: #000000;


$color-grey-5:#212529;
$color-grey-4:#404040;
$color-grey-3:#595959;
$color-grey-2:#737373;
$color-grey-1:#BFBFBF;

$color-success:#198754;
$color-error: #871919;
$color-warning: #a6a320;
$color-primary: #193887;

